QPushButton {
   background-color: #0F66DE;
   color: white;
   border-radius: 5px;
   padding: 4px 30px;
   font-size: 14px;
}

QPushButton:hover {
   background-color: #0056b3;
}

QPushButton:pressed {
   background-color: #004494;
}
